<div class="container">
  <div [hidden]="submitted">
    <h1>Login Form</h1>
    {{diagnostic}}
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="model.username" #username="ngModel" required>
        <div [hidden]="username.valid" class="alert alert-danger">
          Username is required
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" minlength="8" name="password" id="password" [(ngModel)]="model.password" #password="ngModel" required>
        <div [hidden]="password.valid" class="alert alert-danger">
          Password is required and needs a minimum length of 8
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Submit</button>
      <button type="button" class="btn btn-danger" (click)="redirecttomain()">Back</button>
    </form>
  </div>
  <div [hidden]="!submitted">
    <h4>{{currentState}}</h4>
  </div>
</div>