<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h5>
    First I would ask you to choose between Login and Register. If you don't have an account yet, I would recommend you registering yourself.
  </h5>
  <button class="btn btn-success" style="float: left; width: 50%;" routerLink="/login">Login</button>
  <button class="btn btn-danger" style="float: right; width: 50%;" routerLink="/register">Register</button>
  <router-outlet></router-outlet>
</div>