<div class="container">
  <div [hidden]="!allowedToView">
    <h1>User Information for {{currentUser?.username}}</h1>
    <h6>{{currentUser?.firstname + " " + currentUser?.lastname}}</h6>  
    <button class="btn btn-primary" (click)="logout()">Ausloggen</button>
    <button type="button" class="btn btn-danger" (click)="redirecttomain()">Back</button>
  </div>
  <div [hidden]="allowedToView">
    <h4>{{currentState}}</h4>
  </div>
</div>