<div class="container">
  <div [hidden]="submitted">
    <h1>User Form</h1>
    {{diagnostic}}
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstname">First name</label>
        <input type="text" class="form-control" name="firstname" id="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" required>
        <div [hidden]="firstname.valid" class="alert alert-danger">
          Firstname is required
        </div>
      </div>

      <div class="form-group">
        <label for="lastname">Last name</label>
        <input type="text" class="form-control" name="lastname" id="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" required>
        <div [hidden]="lastname.valid" class="alert alert-danger">
          Lastname is required
        </div>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="model.username" #username="ngModel" required>
        <div [hidden]="username.valid" class="alert alert-danger">
          Username is required
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" minlength="8" name="password" id="password" [(ngModel)]="model.password" #password="ngModel" required>
        <div [hidden]="password.valid" class="alert alert-danger">
          Password has to be atleast 8 characters long
        </div>
      </div>

      <div class="form-group">
        <label for="secpw">Confirm password</label>
        <input type="password" class="form-control" minlength="8" name="secpw" id="secpw" [(ngModel)]="secpw" (ngModelChange)="checkSamePW($event)" required>
        <div [hidden]="samePW && password.valid" class="alert alert-danger">
          Passwords have to match
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
      <button type="button" class="btn btn-danger" (click)="redirecttomain()">Back</button>
    </form>
  </div>
  <div [hidden]="!submitted">
    <h4>{{currentState}}</h4>
  </div>
</div>